*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-color: lightpink;
}
.box{
 height: 400px;
 width: 350px;
 padding: 15px;
 background-color: white;
 border-radius: 5px;
}
.img_box{
 border: 2px dashed pink;
 border-radius: 5px;
 height: 200px;
}
.img_box:hover{
 transition: .1s;
 border-color: hotpink;
}
.img_box img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 5px;
}
.option{
 margin: 10px 0;
 user-select: none;
 display: flex;
 justify-content: space-between;
}
#reduce, #resize{
 accent-color: hotpink;
}
.option .option_box{
 display: flex;
 align-items: center;
}
.option .option_box input{
 margin-right: 10px;
}
.size{
 display: flex;
 user-select: none;
 justify-content: space-between;
}
.size #height, #width{
 width: 140px;
 height: 30px;
 display: flex;
 justify-content: space-between;
 border: 2px solid pink;
 border-radius: 5px;
 font-size: 1rem;
 padding: 0px 6px;
}
button{
 margin-top: 10px;
 /*border: 2px solid black;*/
 width: 100%;
 height: 40px;
 background-color: hotpink;
 border: none;
 border-radius: 5px;
 font-size: 1.1rem;
 color: white;
 /*opacity: 0.6;
 pointer-events: none;*/
 user-select: none;
}
/* #inputfile:valid ~ button{
 opacity: 1;
 pointer-events: auto;
} */
